.post {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

.main-wrapper{
	max-width: 90vw;
}

.post__title {
	font-size: 3rem;
	font-weight: bold;
	color: var(--black);
	padding: 1rem;
}

.post__figure {
	max-width: 50%;
	padding: 1rem;
}

.post__content {
	font-size: 2rem;
	color: var(--green);
	padding: 1rem;
	background-color: var(--white);
}

.tags {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.tags h2 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--black);
	padding: 0.3rem;
}

.tags__body {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

.tags__body li {
	font-size: 1.2rem;
	padding: 1rem;
}

.tags__form {
	padding: 1rem;
}
