.genre-title {
	font-weight: bold;
	font-size: 4rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--green);
	-webkit-text-fill-color: var(--white);
	margin: 3rem;
}

.post-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

.post {
	margin: 1rem;
}

.post h1 {
	font-size: 2.5rem;
	color: var(--green);
}

.post h1:hover {
	font-size: 3rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--white);
	-webkit-text-fill-color: var(--green);
}
