@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
	--white: #beebdd;
	--yellow: #bfe26d;
	--light-brown: #8b7547;
	--dark-brown: #695443;
	--brown: #694c1c;
	--green: #10582e;
	--black: #19201b;
	--red: #c57777;
	--bg: #91b8a9;
}

html {
	font: 24px/1;
	font-family: "Roboto", sans-serif;
}

img {
	width: 100%;
}

* {
	box-sizing: border-box;
}

/* .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	min-height: 100vh;
} */

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	min-height: 100vh;
}

main {
	background-color: var(--yellow);
	color: var(--black);
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
