<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
     <header>
        <div class="flex-wrapper">
            <h1 class="site-name">Kaisaac's Blog</h1>
            <nav class="nav-bar">
                <ul class="nav-bar_list">
                    <li th:href="@{~/add-post}">Create Post+</li>
                </ul>
                        <a class="header__text" href="/genres/">See All Genres</a>
                        </header>
            </nav>
        </div>
    </header> 
    <main>
        <div class="post-river">
            <section class="post" th:each="post: ${posts}">
                    <a th:href="|/${post.id}|">
                    <img class="post_image" src="">
                    <h3 class="post_header" th:text="${post.title}">My Trip to Cedar Point</h3>
                </a>
                    <div class="by-line">
                        <span class="author" th:text="${post.author.name}">Kai Hennacy</span>
                        <span class="genre" th:text="${post.genre.name}"></span>
                        <span class="tags" th:each="tag : ${post.tags}" th:text="${tag.name}"></span>
                    </div>
                    <p class="short-content" th:text="${post.shortContent}">
                    </p>
            </section>
        </div>
    </main>
    <footer>
            <small>&copy; 2019 Kai Hennacy & Isaac Kim</small>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kai-hennacy/" class="fa fa-linkedin"></a>
                <a href="https://github.com/KaiHennacy" class="fa fa-github"></a>
            </div>
        </footer>

</body>
</html>