<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/base/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/footer.css" />

    <link rel="stylesheet" type="text/css" href="/css/pages/newPostView.css" />
</head>
<body>
    <header class="header">
        <h1 class="header__Logo">Kaisaac's Blog</h1>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li><a th:href="@{~/home}">Home</a></li>
                    <li><a th:href="@{~/posts}">Posts</a></li>
                    <li><a th:href="@{~/tags/}">Tags</a></li>
                    <li><a th:href="@{~/genres/}">Genres</a></li>
                    <li><a th:href="@{~/posts/new}">Create+</a></li>
                </ul> 
            </nav>
    </header> 
    <main class="main">       
        <form class="post-form" action="/add-post" method="POST">
            <label>
                <h2>Title:</h2>
                <input type="text" name="title" value="That One Time When I..."/>
            </label>
            <label>
                <h2>Author:</h2>
                <input list="authors" name="author"/>
                <datalist id="authors">
                        <option th:each="author: ${authors}" th:value="${author.name}"></option>
                </datalist>
            </label>
            <label>
                <h2>Genre:</h2>
                <input list="genres" name="genre"/>
                <datalist id="genres">
                    <option th:each="genre: ${genres}" th:value="${genre.name}"></option>
                </datalist>
            </label>
            <label>
                <h2>Content</h2>
                <input type="text" name="content" value="What happened?"/>
            </label>
                <button type="submit">Finalize Post</button>
            </form>
        </section>
        
    </main>
    <footer class="footer">
            <small>&copy; 2019 Kai Hennacy & Isaac Kim</small>
    </footer>

</body>
</html>
