<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/base/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/footer.css" />

    <link rel="stylesheet" type="text/css" href="/css/pages/singlePostView.css" />
</head>
<body>
    <header class="header">
        <h1 class="header__Logo">Kaisaac's Blog</h1>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li><a th:href="@{~/home}">Home</a></li>
                    <li><a th:href="@{~/posts}">Posts</a></li>
                    <li><a th:href="@{~/tags/}">Tags</a></li>
                    <li><a th:href="@{~/genres/}">Genres</a></li>
                    <li><a th:href="@{~/authors/}">Authors</a></li>
                    <li><a th:href="@{~/posts/new}">Create+</a></li>
                </ul> 
            </nav>
    </header>  
    <main class="main">
    <div class="main-wrapper">       
        <section class="post"> 
                <h2 class="post__title" th:text="${post.title}">
                    My Trip to Cedar Point
                </h2>
                <!-- <figure class="review__figure">
						<img th:src="@{${reviewModel.imgurl}}" alt="image missing" />
				</figure> -->
                <a th:href="|/genres/${post.genre.id}|"><h3 class="post__genre" th:text="${post.genre.name}">
                    Travel
                </h3></a>
                <div class="by-line">
                    <span> Published on </span>
                    <span class="post__date" th:text="${post.date}">11/11/11</span>
                    <span> by </span>
                    <a th:href="|/authors/${post.author.id}|"><span class="author" th:text="${post.author.name}">Kai Hennacy</span></a>
                </div>
                <p class="post__content" th:text="${post.content}">
                    I had a really good time at Cedar Point! I loved the part when I went super fast down, and almost died. The ride's track broke and birds tried to eat my...
                </p>
        </section>

        <section class="tags">
            <h2>Tags</h2>
            <ul class="tags__body">
                <a th:each="tag : ${post.tags}" th:href="|/tags/${tag.id}|">
                    <li th:text="${tag.name}">
                        Tag
                    </li>
                </a>
            </ul>

            <form class="tags__form" action = "/add-tag" method="POST">
                <label>
                    Tag name
                    <input type="text" name="name" value="ex: happy"/>
                    <input type="hidden" name="id" th:value="${post.id}"/>
                </label>
                <button type="submit">Add Tag</button>
            </form>
        </section>
    </div>    
    </main>
    <footer class="footer">
            <small>&copy; 2019 Kai Hennacy & Isaac Kim</small>
    </footer>

</body>
</html>
