<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- <header>
        <div class="flex-wrapper">
            <img class="site-logo" src="" alt="site-logo">
            <h1 class="site-name"></h1>
            <nav class="nav-bar">
                <ul>
                    <li>Create +</li>
                    <li>Tags</li>
                    <li>Genres</li>
                    <li>About</li>
                </ul>
            </nav>
        </div>
    </header> -->
    <main class="main">       
        <h1 class="genre-title" th:text="${genre.name}">
            Travel
        </h1>
        <section class="post-Container">
            <div class="post" th:each="post: ${genre.posts}">
                <a th:href="|/${post.id}|">
                    <h1 th:text="${post.title}"></h1>
                </a>
            </div>
        </section>
        
    </main>
    <footer>
            <small>&copy; 2019 Kai Hennacy & Isaac Kim</small>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kai-hennacy/" class="fa fa-linkedin"></a>
                <a href="https://github.com/KaiHennacy" class="fa fa-github"></a>
            </div>
        </footer>

</body>
</html>
