<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/base/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base/footer.css" />

    <link rel="stylesheet" type="text/css" href="/css/pages/tagsView.css" />
</head>
<body>
    <header class="header">
        <h1 class="header__Logo">Kaisaac's Blog</h1>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li><a th:href="@{~/home}">Home</a></li>
                    <li><a th:href="@{~/posts}">Posts</a></li>
                    <li><a th:href="@{~/tags/}">Tags</a></li>
                    <li><a th:href="@{~/genres/}">Genres</a></li>
                    <li><a th:href="@{~/authors/}">Authors</a></li>
                    <li><a th:href="@{~/posts/new}">Create+</a></li>
                </ul> 
            </nav>
    </header> 
    <main>
        <section class="tags__body">
            <article class="tag-item" th:each="tag: ${tags}">
                <a th:href="|/tags/${tag.id}|">
                    <h3 class="tag-title" th:text="${tag.name}">Tag</h3>
                </a>
            </article>
        </section>

        <section>
            <h4>Create a Tag</h4>
            <form class="tag-form" action="add-empty-tag" method="POST">
                <label>
                    <input type="text" name="name" placeholder="ex: Fun"/>
                </label>
                <button type="submit">Submit</button>
            </form>

        </section>
    </main>
    <footer class="footer">
            <small>&copy; 2019 Kai Hennacy & Isaac Kim</small>
    </footer>

</body>
</html>